.landing-page {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: -1;
  .landing-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-content {
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.5em;

      .greeting {
        font-size: 2em;
      }
      .myname {
        margin: 8px 0px;
        font-size: 1.6em;
      }
      h1 {
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .divider-line {
        margin: 6px 0px;
        max-width: 250px;
        height: 1px;
      }
      h2 {
        margin: 0px;
        font-size: 1.3em;
      }
    }

    .graphics-container {
      max-width: 450px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .brand-avatar {
        height: 150px;
        position: absolute;
        // left: 90px;
      }
    }
  }
}

.work-type {
  opacity: 0;
  animation: 1s worktypeanim forwards;
  font-weight: 700;
  letter-spacing: 3px;
}

@media screen and (max-width: 550px) {
  .work-type {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .landing-content {
    flex-direction: column;
    justify-content: space-around;
    .graphics-container,
    .left-content {
      margin-left: auto;
      margin-right: auto;
      h2,
      h1 {
        text-align: center;
      }
    }
    .graphics-container {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 450px) {
  .landing-page {
    .landing-content {
      .graphics-container {
        max-width: 250px;
        .brand-avatar {
          height: 100px;
        }
      }
    }
  }
}

@keyframes worktypeanim {
  from {
    opacity: 0;
    transform: translate(-5px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* ====== svg animation style ===== */

#square-scree-1,
#square-scree-2 {
  animation: floatY 1s infinite ease-in-out alternate;
}

#big-screen-front {
  animation: bigScreenFront 1s infinite ease-in-out alternate;
  animation-delay: 0.5s;
}

#big-screen-back {
  animation: bigScreenBack 1s infinite ease-in-out alternate;
}

#square-scree-1 {
  animation-delay: 0.5s;
}

#square-scree-2 {
  animation-delay: 0.1s;
}

#future-loader-1 {
  animation-name: spinR;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 630px 171px;
  transform: translateZ(0);
}

@keyframes bigScreenFront {
  100% {
    transform: translate(10px, 10px);
  }
}

@keyframes bigScreenBack {
  0% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0px, -5px);
  }
}

@keyframes floatX {
  100% {
    transform: translateX(10px);
  }
}

@keyframes floatY {
  100% {
    transform: translateY(15px);
  }
}

@keyframes spinR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ====== end ===== */
