.landing-page {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: -1;
  .landing-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-content {
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      .greeting {
        font-size: 36px;
      }
      .designation-container {
        margin-top: 24px;
        width: max-content;
        display: flex;
        .designation {
          font-size: 16px;
          color: #242424;
          padding: 3px 12px 0px 6px;
        }
      }
      h1 {
        margin-bottom: 0px;
        margin-top: 0px;
      }
      h2 {
        margin: 0px;
        font-size: 1.3em;
      }
    }

    .graphics-container {
      max-width: 450px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .brand-avatar {
        height: 150px;
        position: absolute;
        // left: 90px;
      }
    }
  }
}

.shimoolz-sign {
  position: absolute;
  bottom: -51px;
  z-index: 9999;
  left: 74px;
  height: 53px;
  mix-blend-mode: hard-light;
  display: flex;
}

.line-elements {
  height: 18px;
  width: 210px;
  position: absolute;
  transform: rotate(-29deg);
  border-radius: 45px;
}

.line-elements.position1 {
  bottom: 22px;
  right: -40px;
}

.line-elements.position2 {
  bottom: 20px;
  right: -10px;
}

.line-elements.position3 {
  bottom: -4px;
  right: -32px;
}

.avatar-image {
  height: 190px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
}

@media screen and (max-width: 550px) {
  .work-type {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .landing-content {
    flex-direction: column;
    justify-content: space-around;
    .graphics-container,
    .left-content {
      margin-left: auto;
      margin-right: auto;
    }
    .graphics-container {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 450px) {
  .landing-page {
    .landing-content {
      .graphics-container {
        margin-top: 40px;
        max-width: 230px;
        .brand-avatar {
          height: 90px;
        }
      }
    }
  }
}

/* ====== svg animation style ===== */

#pos1_animate {
  animation: floatAnimation_1 1.8s infinite ease-in-out alternate;
  animation-delay: 0.5s;
}

#pos2_animate {
  animation: floatAnimation_2 1.8s infinite ease-in-out alternate;
}

#pos3_animate {
  animation: floatAnimation_1 1.2s infinite ease-in-out alternate;
  animation-delay: 0.6s;
}

@keyframes floatAnimation_1 {
  0% {
    transform: translateY(-5px) rotate(-29deg);
  }
  100% {
    transform: translateY(-10px) rotate(-29deg);
  }
}

@keyframes floatAnimation_2 {
  0% {
    transform: translateY(-8px) rotate(-29deg);
  }
  100% {
    transform: translateY(0px) rotate(-29deg);
  }
}
/* ====== end ===== */
