.landing-page {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: -1;
  .landing-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-content {
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      .greeting {
        display: flex;
        flex-direction: column;
        font-size: 36px;
      }
      .designation-container {
        margin-top: 24px;
        width: max-content;
        display: flex;
        .designation {
          font-size: 16px;
          color: #242424;
          padding: 3px 12px 0px 6px;
        }
      }
      h1 {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }

    .graphics-container {
      max-width: 450px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .brand-avatar {
        height: 150px;
        position: absolute;
      }
    }
  }
}

.shimoolz-sign {
  position: absolute;
  bottom: -51px;
  z-index: 9999;
  left: 74px;
  mix-blend-mode: hard-light;
  display: flex;
}

.line-elements {
  height: 18px;
  width: 210px;
  position: absolute;
  transform: rotate(-29deg);
  border-radius: 45px;
}

.line-elements.position1 {
  bottom: 22px;
  right: -40px;
}

.line-elements.position2 {
  bottom: 20px;
  right: -10px;
}

.line-elements.position3 {
  bottom: -4px;
  right: -32px;
}

.avatar-image {
  height: 190px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
}

@media screen and (max-width: 750px) {
  .landing-content {
    flex-direction: column;
    justify-content: space-around;
    .graphics-container,
    .left-content {
      margin-left: auto;
      margin-right: auto;
    }
    .graphics-container {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 450px) {
  .landing-page {
    align-items: start;
    .landing-content {
      .left-content {
        margin-top: 120px;
        margin-bottom: 0px;
      }
      .graphics-container {
        margin-top: 40px;
        max-width: 230px;
        .brand-avatar {
          height: 90px;
        }
      }
    }
  }
}

.shimul_mridha {
  position: absolute;
  top: 5px;
  right: 0;
  width: 40%;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.5s;
  opacity: 0;
  font-family: GoldLines;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

.animation-block {
  position: absolute;
  right: 0;
  top: 0px;
  height: 26px;
  width: 40%;
  z-index: 10;
  background-color: #fff;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    right: 40%;
    opacity: 1;
  }
  50% {
    width: 40%;
    right: 0;
    opacity: 1;
  }
  100% {
    width: 0;
    right: 0;
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.greeting {
  span {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation: titleAnimation 3s ease forwards;
    float: left;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

/* ====== svg animation style ===== */

#pos1_animate {
  animation: floatAnimation_1 1.8s infinite ease-in-out alternate;
  animation-delay: 0.5s;
}

#pos2_animate {
  animation: floatAnimation_2 1.8s infinite ease-in-out alternate;
}

#pos3_animate {
  animation: floatAnimation_1 1.2s infinite ease-in-out alternate;
  animation-delay: 0.6s;
}

@keyframes floatAnimation_1 {
  0% {
    transform: translateY(-5px) rotate(-29deg);
  }
  100% {
    transform: translateY(-10px) rotate(-29deg);
  }
}

@keyframes floatAnimation_2 {
  0% {
    transform: translateY(-8px) rotate(-29deg);
  }
  100% {
    transform: translateY(0px) rotate(-29deg);
  }
}
/* ====== end ===== */
