@use "../../styles/colors" as theme;

.workpage-container {
  .workpage-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .workpage-header {
    display: flex;
    justify-content: center;

    .hr-lines {
      max-width: 400px;
      width: 100%;
      text-align: center;
      position: relative;
      span {
        background: theme.$primary-color;
        z-index: 5;
      }
    }
    .hr-lines::before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100px;
      background: theme.$secondary-color;
      left: 0;
      top: 50%;
      animation: lineanim 2s ease;
    }
    .hr-lines::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100px;
      background: theme.$secondary-color;
      right: 0;
      top: 50%;
      animation: lineanim 2s ease;
    }
  }

  .workitem-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    position: relative;
    flex: 1 1 auto;
  }
  .slider-container {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    .slider-arrow {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      padding: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: theme.$secondary-color;
        color: theme.$primary-color;
        box-shadow: 0px 0px 10px 0px rgba(theme.$secondary-color, 0.4);
      }
    }
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .work-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s ease-in-out;
    flex: 1 1 auto;
    padding: 0px 6px 8px 6px;
    .work-title {
      font-size: 2.5rem;
    }

    .detail-button-container {
      margin-top: 12px;
      border-top: 1px solid theme.$secondary-color;
      div {
        padding: 8px 12px;
        display: inline-block;
        background-color: theme.$secondary-color;
        color: theme.$primary-color;
        font-size: 12px;
        border-radius: 0px 0px 25px 4px;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: theme.$highlight-color;
        }
      }
    }
  }
}

.navigation-sliders {
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
}

@keyframes lineanim {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
