@use "./colors" as colors;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-background {
  background: colors.$primary-color;
}

.highlight-color {
  background: colors.$highlight-color;
}

.primary-textcolor {
  color: colors.$secondary-color;
}

.position-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.min-h-screen {
  min-height: 100vh;
}

.h-screen {
  height: 100vh;
}
