@use "../../../styles/colors" as colors;

.navigator-button {
  display: block;
  padding: 8px 12px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.navigator-button span {
  position: relative;
  z-index: 2;
}

.navigator-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: colors.$highlight-color;
  transition: all 0.35s;
}

.navigator-button:hover {
  color: #fff;
}

.navigator-button:hover:after {
  width: 100%;
}
