@use "../styles/colors" as theme;

.app-footer {
  padding-top: 18px;
  position: relative;
  .footer-content-container {
    min-height: 100px;
    .app-footer-content {
      margin: auto;
      width: 100%;
      flex-wrap: wrap;
      .footer-avatar {
        top: 20%;
        position: absolute;
        left: 0;
        width: 100%;
      }
      a {
        color: currentColor;
        &:hover {
          color: theme.$highlight-color;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .app-footer {
    .footer-content-container {
      .app-footer-content {
        .footer-avatar {
          .avatar-icon {
            height: 30px;
          }
        }
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: 0.8em;
  color: darken(theme.$secondary-color, 30%);
}
